beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.9.0
decorator==4.1.2
Django==1.6.11
django-dbindexer==1.6.1
django-inspect==0.4.1
django-mongodb-engine==0.6.0
djangotoolbox==1.8.0
elasticsearch==5.4.0
googletrans==2.2.0
idna==2.6
lxml==3.8.0
matplotlib==1.5.1
mongoengine==0.13.0
networkx==1.11
nltk==3.2.5
numpy==1.13.1
django-passreset==0.3
Pillow==9.0.1
pyahocorasick==1.1.4
pycrypto==2.6.1
pymongo==3.4.0
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2014.10
requests==2.18.4
scipy==0.19.1
six==1.11.0
textblob==0.13.0
urllib3==1.22
warc==0.2.1
wikipedia==1.4.0
